
<% submissions.each do |submission| %>



<div class="col-sm-4">
	<div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">
				<%= link_to "#{submission.work.title}", "/users/#{submission.user.id}/collections/#{submission.work.collection.id}/#/#{submission.work.collection.works.index(submission.work)}/" %>
      </h3>
    </div>
    <div class="panel-body text-center">
    	<div class="image">
				<%= image_tag submission.work.image.url, class: 'img-circle'%>
			</div>
			<div class="post-info">
				<blockquote><%= submission.message %></blockquote>
				<%= submission.work.work_format %>
				<br>
				<%= submission.work.caption %>
				<br>
				<% if submission.work.media.any? %>
				Media: <% submission.work.media.each do |medium| %>
					<%= medium.name %>
				<% end %>
				<% end %>
				<br>
				<% if submission.work.genres.any? %>
				Genres: <% submission.work.genres.each do |genre| %>
					<%= genre.name %>
				<% end %>
				<% end %>
				<br>
				<em>Submitted to <%= submission.organisation.name %> for <%= submission.opportunity.title %></em>
				<br>
				<b>Status: <%= submission.status %></b>

			</div>
		</div>
	</div>
</div>


<%end%>