
<div class="container">
		<%= form_for @new_work, html: {multipart: true}, url: user_collection_works_path do |f| %>
	<div class="row">
	
		<div class="col-md-2" ng-hide="details"></div>
			<div class="input-wrapper col-md-8">
			 	<div class="field-wrapper col-md-12">
						<div class="image-field file-field">
								<%= f.label :image, 'Drag Work Here', class: 'call-to-drag' %>
								<%= f.file_field :image, required: true, data: {:"ng-file-select" => "onFileSelect($files)"}%>
									<img class="upload-preview" ng-show="imageSrc" ng-src="{{imageSrc}}" />
						</div>
					</div>
			</div>
		<div class="col-md-2"></div>

		</div>
	</div>
	
	<div class="submit-details col-md-4">
		

			<div class="submit-ready pull-right col-md-2" ng-init="details = false" ng-click="details = !details">
				<a href="#" class="add-details art-submit"><p>Add Details</p></a>
			</div>


			<div ng-show="details" class="form-wrapper col-md-12">

				<div class="row">
					<div class="col-md-12 title-field">
						<%= f.text_area :title, required: true, placeholder: 'Title', class: 'col-md-12', onkeyup: "textAreaAdjust(this)" %>
					</div>
				</div>

				<div class="row">
					
				</div>

				<div class="row">
					<div class="col-md-12 genre-field">

						<%= f.text_area :medium_names, value: '', placeholder: 'Media', class: 'col-md-12', onkeyup: "textAreaAdjust(this)" %>
					</div>
				</div>


				<div class="row">
					<div class="col-md-12 genre-field">

						<%= f.text_area :genre_names, value: '', placeholder: 'Genre', class: 'col-md-12', onkeyup: "textAreaAdjust(this)" %>
					</div>
				</div>

				<div class="row">
					<div class="col-md-12 description-field">

						<%= f.text_area :caption, placeholder: 'Short Description', class: 'col-md-12' %>
					</div>
				</div>

				<div class="button-row row">
					<div class="col-md-12 submit-button">
						<%= f.submit 'Publish', class: 'form-submit' %>
					</div>
				</div>
			</div>

		</div>
	</div>
</div>


<% end %>